# Database config
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Redis config
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Broker config
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TASK_SERIALIZER=
CELERY_RESULT_SERIALIZER=
CELERY_ACCEPT_CONTENT=
